body {
    background-color: var(--col-black-bg);
    margin: 0;
}

.bg-div {
    padding-left: 20%;
    padding-right: 20%;
}

.main-div {
    background-color: var(--col-withe-bg);
    height: 100vh;
    padding-left: 2em;
    padding-right: 2em;
}
