@keyframes christmascolors {
    0% {color: rgb(138, 6, 33);}
    25% {color: rgb(105, 6, 26);}
    50% {color: rgb(2, 27, 5);}
    75% {color: rgb(8, 62, 14);}
    100% {color: rgb(14, 96, 23);}
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    animation-name: christmascolors;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
