@keyframes christmascolors {
    0% {color: var(--col-red-80);}
    25% {color: var(--col-red-100);}
    50% {color: var(--col-green-100);}
    75% {color: var(--col-green-90);}
    100% {color: var(--col-green-80);}
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    animation-name: christmascolors;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

h2 {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

section {
    box-shadow: 1px 1px 2px 2px #326c9f;
    background-color: #2e7e9d;
    margin: 2em;
    padding: 0em 1em 1em 1em;
}
